@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&family=Rubik:wght@300;400;500;600&display=swap');
/*
Font:
- Poppins: 300, 400, 600, 700, 800
- Rubik: 300, 400, 500, 600
*/

:root {
    --primary-color: #ff6b6b;
    --secondary-color: #794afa;
    --secondary-dark-color: #453c5c;

    --white-color: #ffffff;
    --light-bg-color: #f2f3f5;
    --light-text-color: #7c899a;
    --border-color: #e5e8ec;
    --dark-color: #0a021c;

    --font-small: 13px;
    --font-smaller: 50%;

    --percent100: 100%;
    --percent50: 50%;

    --fw3: 300;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;

    --trans-background-color: backgound-color .3s, color .3s;
    --trans-background: background-color .3s;
    --trans-color: color .3s;
}

*{
    margin:0;
    padding:0;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--dark-color);
    background-color: var(--white-color);
}


*,::before,::after {
    box-sizing: border-box;
}

body {
    
}
.main-link a:hover{
    color: var(--secondary-color);
}