@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&family=Rubik:wght@300;400;500;600&display=swap');
/*
Font:
- Poppins: 300, 400, 600, 700, 800
- Rubik: 300, 400, 500, 600
*/

:root {
    --primary-color: #ff6b6b;
    
    
}